body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    margin-top: 0;
    font-family: 'Tsukimi Rounded', sans-serif;
    /* width: 10%;
    margin: 0 auto; */
}

p {
    font-family: 'Tsukimi Rounded', sans-serif;
}

span {
    /* display: block; */
    width: 10px;
    /* display: none; */
    /* visibility: hidden; */
}

.top-container {
    background-color: #E3F4F4;
    position: relative;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 180px;
    top: 50px;
}
/* 
.title {
    position: relative;
    margin-top: 100px;
} */


.bottom-cloud {
    position: absolute;
    left: 180px;
}


.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    /* border: solid 20px;
    margin-left: 260px; */
    
}

.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
    /* border: solid 10px;
    margin-left: 500px; */
}
